// **************************************
// index.scss
// Main Sass file used to import partials
// **************************************


// NOTE: import utilities and base partials here:



// import components partials
// @import 'components';

// Top of the Circles page

p {
  line-height: 1.8; 
}

.container {
  background-color: #FFFFFF; 
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  color: grey;
  padding-left: 35px;
  padding-right: 35px; 
}

.img--logo,
.img--frame,
.img--avatar {
  display: block; 
  margin-left: auto;
  margin-right: auto;
  padding: 15px 0 15px 0; 
}

.nav {
  padding: 10px; 
  margin-bottom: 50px; 
}

.nav__item  {
  list-style: none;
  text-align: center; 
}

.nav__item:first-child  {
  background-color: #75F8D7; 
  border-radius: 5px;
}

.nav__item,
a { 
  text-decoration: none;
  color: grey;
}

.nav a {
  display: block; 
  padding: 15px; 
}

a[href="#type"] {
  color: white; 
}

.card p {
  background-color: #FFFFFF;
}

.card p:first-child {
  padding-bottom: 70px; 
}

// Middle of the Circles page

.headline--secondary {
  font-weight: normal;
  margin-top: 60px; 
}


.headline--primary {
  color: #B4E7D6;
  padding-left: 20px;
  padding-right: 20px; 
}

.link {
  color: #C5F1ED;
  font-weight: bold; 
}

.blockquote {
  font-size: 1.5em;
  font-style: italic;
  border-left: 10px solid #96D4BF;
  padding-left: 15px;
}

.form__label--hidden {
  display: none; 
}

.form__input,
.btn--default {
  display: block;  
  padding: 10px; //This changed it to a skinnier button!
  margin-left: auto; 
  margin-right: auto;
  margin-top: 10px;
  
}

.btn--default {
  border-radius: 5px;
  margin-top: 15px;
  color: white; 
  background-color: #52E0F9;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold; 
  width: 100%; 
}

.form__input {
  border-radius: 5px; 
  font-size: 14px;
  width: 90%;
  background: transparent;
  border: 0; 
  outline: 0;
  border-bottom: 5px solid mediumaquamarine; 
}

.btn--default,
.btn--success,
.btn--error,
.btn--warning,
.btn--info  {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold; 
}

.img--frame {
  width: 95%;
  border: 1px solid grey; 
  padding-left: 15px; 
  padding-right: 15px;
  margin-top: 50px;
  margin-bottom: 30px; 
}

#buttons {
  padding-bottom: 40px; 
}

.btn--success,
.btn--error,
.btn--warning,
.btn--info {
  display: block;
  border-radius: 5px;
  margin-top: 15px;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  width: 100%; 
  padding: 10px;// Changed it to a skinnier button! 
  margin-left: auto; 
  margin-right: auto;
  margin-top: 20px;
}

.btn--success {
  background-color: #5FC882;
}

.btn--error {
  background-color: #E27084; 
}

.btn--warning {
  background-color: #E87760; 
}

.btn--info {
  background-color: #8C7EB4; 
}

// Bottom of page - Grid System

#grid {
  padding-top: 40px; 
  padding-bottom: 20px; 
}


.theme__colors.grid__col--12 {
  background-color: #96E3D3;
  margin-bottom: 40px; 
}

.theme__colors.grid__col--6 {
  background-color: #3CABD0;
  margin-bottom: 5px; 
}

.theme__colors.grid__col--4 {
  background-color: #7AE7FC;
  margin-bottom: 5px; 
}

.theme__colors.grid__col--3 {
  background-color: #DEB0EA;
  margin-bottom: 5px; 
}

.theme__colors.grid__col--5 {
  background-color: #8CD79F ;
  margin-top: 40px; 
  margin-bottom: 5px; 
}

.theme__colors.grid__col--7 {
  background-color: #ECA0A2;
  margin-bottom: 40px;
  &.centered {
    margin-top: 40px; 
  }
}

.theme__colors.grid__col--8 {
  background-color: #F3A383;
  margin-bottom: 5px; 
}

.theme__colors.grid__col--12,
.theme__colors.grid__col--6,
.theme__colors.grid__col--4,
.theme__colors.grid__col--3,
.theme__colors.grid__col--5,
.theme__colors.grid__col--7,
.theme__colors.grid__col--8 {
  height: 40px;
  width: 400px;
  border-radius: 5px;
  font-weight: 500;
  line-height: 40px;
  text-indent: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: -14px; 
}

.theme__colors.grid__col--4:first-child {
  margin-top: 40px; 
}

.theme__colors.grid__col--3:first-child {
  margin-top: 40px; 
}




































